@mixin shrinkLabel {
    top: -14px;
}

.group {
    position: relative;

    .form-input{
        background: none;
        background-color: white;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 25px 0;

        &:focus {
            outline: none;
          }

        &:focus ~ .form-input-label {
            @include shrinkLabel();
        }
        
    }
    
    .form-input-label{
        position: absolute;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 300ms ease all;

        &.shrink {
            @include shrinkLabel();
          }


    }
}

